* {
    box-sizing: border-box;

}

html,
body {
    height: 100vh;
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
}



form {

<<<<<<< HEAD
    background-image: url("images/rectangle.svg");
    ;
=======
    background-image: url("images/rectangle.svg");;
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    border-radius: 26px;
    width: 83.125%;
    height: 76.1%;
    background-size: cover;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    justify-content: center;
    display: flex;
    box-shadow: 6px 7px 4px 3px rgba(2, 57, 74, 0.2);
}

.form_container {
=======
    justify-content: space-between;
    display: flex;
    box-shadow: 6px 7px 4px 3px rgba(2, 57, 74, 0.2);
}
.form_container{
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 685px;
    width: 75%;
    color: #02394A;
}
<<<<<<< HEAD

.container {
=======
.container{
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    width: 100%;
    height: auto;
    display: flex;
}
<<<<<<< HEAD

.txt_container {
=======
.txt_container{
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 685px;
    width: 521px;
}
<<<<<<< HEAD

.form_input_size {
=======
.form_input_size{
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    width: 385px;
    height: 70px;
    background-color: #9db0c0;
    border-radius: 10px
}
<<<<<<< HEAD

.icon_email {

    padding-left: 50px;
}

.icon_password {

    padding-left: 50px;
=======
.icon_email{
    background: url(images/email.png) no-repeat scroll 14px 26px;
    padding-left:50px;
}
.icon_password{
    background: url(images/padlock.png) no-repeat scroll 14px 24px;
    padding-left:50px;
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
}

.font_primary {
    font-family: 'Montserrat', sans-serif;
    color: #02394A;
}
<<<<<<< HEAD

=======
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
.font_primary_light {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
<<<<<<< HEAD

=======
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
.font_secondary {

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #02394A;

}

.text-4xl {
    font-size: 2.25rem;
    letter-spacing: 0.3em;
    margin: 0;
}


.text-3xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 0.875rem;
    letter-spacing: 0.3em;
    border-style: none;
}

.text-1xl {
    font-size: 0.75rem;
<<<<<<< HEAD
    letter-spacing: 0.3em;
}

.svg_primary {
=======
    letter-spacing: 30%;
}
.svg_primary{
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
    border-radius: 26px;
    width: 83.125%;
    height: 76.1%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
<<<<<<< HEAD

.button_dimension {
    width: 205px;
    height: 70px;
    border-radius: 45px;
    border-style: none;
}

.txt_container_position h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 90px;
}

.separator {
    border: 3px solid #02394A;
    width:230px;
}

.ico-container img{
    margin: 46px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 23px;
}

.button_dimension:hover{background-color: #02394A; color: #ffffff;}

=======
.button_dimension{
    width: 205px;
    height: 70px;
    border-radius: 45px;
}
>>>>>>> 3809073956c8b914552313abeb534e82ebf3be25
