
* {
    box-sizing: border-box;

}

html,
body {
    height: 100vh;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
}



form {

    background-color: blue;
    border-radius: 26px;
    width: 83.125%;
    height: 76.1%;
    flex-direction: column;
    justify-content: center;
    display: flex;

}

.container{

    display: flex;
}

.font_primary {
    font-family: 'Montserrat', sans-serif;
    color: #02394A;
}

.font_secondary {

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #02394A;

}

.text-4xl {
    font-size: 2.25rem;
    letter-spacing: 0.3em;
}


.text-3xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 0.875rem;
    letter-spacing: 30%;
}

.text-1xl {
    font-size: 0.75rem;
    letter-spacing: 30%;
}